<section class="grid nogutter header">
    <div class="col-6 header-photo">
        <img class="header-photo__img" [src]="allContentES.header.photo" alt="Photo - Diego Franchina" />
    </div>
    <div class="col-6 header-info">
        <h1 class="header-info__title">{{allContentES.header.name}} {{allContentES.header.surname}}</h1>
        <h2 class="header-info__subtitle">{{allContentES.header.profession}}</h2>

        <div class="header-info__phone-and-location">
            <div class="icon-container">
                <img src="../assets/img/mobile.svg" alt="Phone icon" />
                <span>{{allContentES.header.mobile}}</span>
            </div>
            <div class="icon-container">
                <img src="../assets/img/location.svg" alt="Location icon" />
                <span>{{allContentES.header.location}}</span>
            </div>
        </div>

        <div class="header-info__social">
            <div *ngFor="let item of allContentES.header.social" class="icon-container">
                <img [src]="item.icon" alt="LinkedIn icon" />
                <span>{{item.name}}</span>
            </div>
        </div>
    </div>
</section>