<section class="grid nogutter education">
    <i class="pi pi-book"></i>
    <div class="col-8">
        <p-timeline [value]="education" align="alternate">
            <ng-template pTemplate="marker" let-event>
                <p-tag styleClass="education__tag">{{event.date}}</p-tag>
            </ng-template>
            <ng-template pTemplate="content" let-event>
                <p-card styleClass="education__card" header="{{event.title}}" subheader="{{event.institute}}">
                    <p class="education__tasks">
                        <span *ngFor="let item of event.description | keyvalue">
                            <i class="pi pi-angle-right" style="font-size: 0.7rem"></i> {{item.value}}
                        </span>
                    </p>
                </p-card>
            </ng-template>
        </p-timeline>
    </div>
</section>