.skills {
  display: flex;
  align-items: center;
  background-color: var(--surface-900);
  height: 100vh;
  height: 100dvh;

  &-container-icons {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
