:host {
  .experience {
    &__circle {
      border-radius: 100%;
      padding: 0.8rem;
      color: white;

      i {
        font-size: 1.5rem;
      }
    }

    &__tasks {
      list-style-type: none;
    }
  }
}
